:root {
  --primary-color: antiquewhite;
  --branding-color: rgb(194, 27, 27);
  --first-font: "Playfair Display", serif;
  --second-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--first-font);
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-family: var(--second-font);
  font-size: 40px;
}

h3 {
  font-family: var(--second-font);
  font-size: 20px;
  padding-top: 20px;
}

.container-fluid {
  padding: 0;
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 150px 20px;
}

.btn-branding {
  color: white;
  background-color: var(--branding-color);
  padding: 10px 15px;
  margin-top: 40px;
}

.btn-branding:hover {
  color: white;
  background-color: rgb(179, 42, 42);
}

.btn-branding-outline {
  color: white;
  background-color: #d6998e;
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 18px;
}

.btn-branding-outline:hover {
  color: white;
  background-color: #e2a89c;
}

.project-photo {
  max-width: 85%;
}

.project-description {
  padding-bottom: 50px;
}

.project-title {
  font-size: 35px;
  font-family: var(--first-font);
  font-weight: 700;
  margin-top: 55px;
}

.project-text {
  font-size: 17px;
  font-family: var(--second-font);
  opacity: 75%;
  padding: 0 40px 0 40px;
}

.my-photo {
  max-width: 80%;
  float: right;
  margin-right: 50px;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
}

.about-section {
  margin-top: 90px;
  padding: 0 40px 0 90px;
}

.about-section p {
  font-size: 18px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-title {
    font-size: 30px;
    margin-top: 33px;
  }
  .hero {
    padding: 80px 20px;
  }
  .btn-branding {
    margin-top: 15px;
  }
  .about-section {
    margin-top: 45px;
    padding: 0 50px 0 50px;
    text-align: center;
  }
  .my-photo {
    float: none;
    display: block;
    margin: 25px auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 5px;
  }
}
