:root {
  --primary-color: antiquewhite;
  --branding-color: rgb(194, 27, 27);
  --first-font: "Playfair Display", serif;
  --second-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--first-font);
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-family: var(--second-font);
  font-size: 20px;
  padding-top: 20px;
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 160px 20px;
}

.btn-branding {
  color: white;
  background-color: var(--branding-color);
  padding: 10px 15px;
  margin-top: 40px;
}

.btn-branding:hover {
  color: white;
  background-color: rgb(179, 42, 42);
}

.projects {
  padding: 80px 0;
  text-align: center;
}

.project-photo {
  max-width: 85%;
  margin-bottom: 30px;
}

.project-description {
  padding: 60px 40px 0 40px;
  margin-bottom: 30px;
}

.project-title {
  text-align: center;
  font-size: 35px;
  font-family: var(--first-font);
}

.project-text {
  font-size: 17px;
  font-family: var(--second-font);
  color: #6c757d;
}
