:root {
  --primary-color: antiquewhite;
  --branding-color: #dd7f80;
  --regular-color: black;
  --first-font: "Playfair Display", serif;
  --second-font: "Poppins", sans-serif;
  --third-font: "Fuzzy Bubbles", cursive;
}

h1 {
  font-family: var(--third-font);
  font-size: 70px;
  font-weight: bold;
  padding-top: 10px;
}

h2 {
  font-family: var(--second-font);
  font-size: 30px;
  padding-top: 10px;
}

h3 {
  font-family: var(--second-font);
  font-size: 20px;
  padding-top: 10px;
}

nav {
  padding: 15px 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--regular-color);
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--branding-color);
}

.container-fluid {
  padding: 0;
}

.hero {
  text-align: center;
  background-image: url("/pictures/pink.jpg");
  background-size: cover;
  padding: 150px 20px;
}

.btn-branding {
  color: white;
  background-color: var(--branding-color);
  padding: 10px 15px;
  margin-top: 40px;
  font-family: var(--third-font);
}

.btn-branding:hover {
  color: white;
  background-color: #cf7375;
}

.btn-branding-outline {
  color: white;
  background-color: var(--branding-color);
  padding: 10px 15px;
  margin-top: 15px;
  font-size: 18px;
  font-family: var(--third-font);
}

.btn-branding-outline:hover {
  color: white;
  background-color: #cf7375;
}

.project-photo-l {
  max-width: 85%;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
}

.project-photo-r {
  max-width: 85%;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
}

.project-description {
  padding-bottom: 50px;
}

.title {
  font-size: 35px;
  font-family: var(--second-font);
  font-weight: 500;
  margin-top: 55px;
}

.project-text {
  font-size: 17px;
  font-family: var(--second-font);
  opacity: 75%;
  padding: 0 40px 0 40px;
}

.my-photo {
  max-width: 80%;
  float: right;
  margin-right: 50px;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
}

.about-section {
  padding: 80px 40px 0 90px;
}

.about-section p {
  font-size: 18px;
  margin-bottom: 25px;
}

.footer {
  background-image: url("/pictures/pink-footer.jpg");
  background-size: cover;
  padding: 5px 20px 15px 20px;
  margin-top: 20px;
}

.link {
  font-size: 40px;
  color: var(--regular-color);
  text-align: center;
  transition: all 100ms ease-in-out;
  margin: 0 7px 15px 7px;
  padding: 7px 10px;
  background-color: white;
  border-radius: 50%;
}

.link:hover {
  color: #cf7375;
}

.links {
  text-align: center;
  padding: 40px 8px 15px 8px;
}

.page-text {
  font-size: 17px;
  font-family: var(--second-font);
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-title {
    font-size: 30px;
    margin-top: 33px;
  }
  .hero {
    padding: 80px 20px;
  }
  .btn-branding {
    margin-top: 15px;
  }
  .about-section {
    margin-top: 45px;
    padding: 0 50px 0 50px;
    text-align: center;
  }
  .my-photo {
    float: none;
    display: block;
    margin: 25px auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 5px;
  }
}
